# Container registries auth
CONTAINER_REGISTRY_GITLAB_USERNAME=
CONTAINER_REGISTRY_GITLAB_PASSWORD=

# Gitlab Secrets access token
# Access token can be created here -> https://gitlab.com/-/user_settings/personal_access_tokens
# Token with Repo role
GITLAB_PROJECT_SECRET_ACCESS_TOKEN=
GITLAB_PROJECT_SECRET_ID=59647709
# Token with API role
GITLAB_PROJECT_SECRET_API_TOKEN=
GITLAB_PROJECT_SECRET_USER=
